<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Buku Besar</title>
</head>
<body>
    <div class="sidebar">
        <!-- <img src="/image/logo.png" alt="Logo" class="logo-image"> -->
        <div class="sidebar-header">
            <h1 class="title">My Accounting</h1>        
        </div>
        <nav class="sidebar-nav">
            <a th:href="@{/dashboard}" class="nav-item"><i class="fas fa-home"></i>Dashboard</a>
            <a th:href="@{/transaksi}" class="nav-item"><i class="fas fa-home"></i>Transaksi</a>
            <a th:href="@{/jurnal-umum}" class="nav-item"><i class="fas fa-home"></i>Jurnal Umum</a>
            <a th:href="@{/buku-besar}" class="nav-item active"><i class="fas fa-book"></i>Buku Besar</a>
            <a th:href="@{/laba-rugi}" class="nav-item"><i class="fas fa-chart-line"></i>Laba Rugi</a>
            <a th:href="@{/perubahan-ekuitas}" class="nav-item"><i class="fas fa-sync-alt"></i>Perubahan Ekuitas</a>
            <a th:href="@{/posisi-keuangan}" class="nav-item"><i class="fas fa-balance-scale"></i>Neraca</a>
            <a th:href="@{/akun}" class="nav-item"><i class="fas fa-users"></i>Akun</a>
            <a th:href="@{/auth/login}" class="nav-item"><i class="fas fa-users"></i>Logout</a>
        </nav>
    </div>
    <main class="main-content">
        <div class="title">

            <h1>Buku Besar</h1>
        </div>
        <div th:each="entry : ${bukuBesar}">
            <div th:if="${not #lists.isEmpty(entry.value)}"> <!-- Validasi jika ada transaksi -->
                <h2>Akun: <span th:text="${entry.key.namaAkun}"></span></h2>
                <table class="buku-besar-table">
                    <thead>
                        <tr>
                            <th rowspan="2">Tanggal</th>
                            <th rowspan="2">Keterangan</th>
                            <th colspan="2">Mutasi</th>
                            <th colspan="2">Saldo</th>
                        </tr>
                        <tr>
                            <th>Debit</th>
                            <th>Kredit</th>
                            <th>Debit</th>
                            <th>Kredit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaksi : ${entry.value}">
                            <td th:text="${#temporals.format(transaksi['tanggal'], 'dd MMM yyyy')}"></td>
                            <td th:text="${transaksi.notes}"></td>
                            <td th:text="${#numbers.formatDecimal(transaksi['debit'], 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(transaksi['kredit'], 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(transaksi['saldoDebit'], 1, 'COMMA', 2, 'POINT')}"></td>
                            <td th:text="${#numbers.formatDecimal(transaksi['saldoKredit'], 1, 'COMMA', 2, 'POINT')}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    </body>
</html>
