<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Laba Rugi</title>
</head>
<body>
    <div class="sidebar">
        <!-- <img src="/image/logo.png" alt="Logo" class="logo-image"> -->
        <div class="sidebar-header">
            <h1 class="title">My Accounting</h1>        
        </div>
        <nav class="sidebar-nav">
            <a th:href="@{/dashboard}" class="nav-item"><i class="fas fa-home"></i>Dashboard</a>
            <a th:href="@{/transaksi}" class="nav-item"><i class="fas fa-home"></i>Transaksi</a>
            <a th:href="@{/jurnal-umum}" class="nav-item"><i class="fas fa-home"></i>Jurnal Umum</a>
            <a th:href="@{/buku-besar}" class="nav-item"><i class="fas fa-book"></i>Buku Besar</a>
            <a th:href="@{/laba-rugi}" class="nav-item active"><i class="fas fa-chart-line"></i>Laba Rugi</a>
            <a th:href="@{/perubahan-ekuitas}" class="nav-item"><i class="fas fa-sync-alt"></i>Perubahan Ekuitas</a>
            <a th:href="@{/posisi-keuangan}" class="nav-item"><i class="fas fa-balance-scale"></i>Neraca</a>
            <a th:href="@{/akun}" class="nav-item"><i class="fas fa-users"></i>Akun</a>
            <a th:href="@{/auth/login}" class="nav-item"><i class="fas fa-users"></i>Logout</a>
        </nav>
    </div>
    <main class="main-content">
        <div class="title">
            
            <h1>Laporan Laba Rugi</h1>
        </div>
        <form action="/laba-rugi/print-pdf" method="post">
            <button type="submit" class="btn">Print PDF</button>
        </form>
       <table>
            <thead>
                <tr>
                    <th>Jenis Akun</th>
                    <th>Nominal</th>
                </tr>
            </thead>
            <tbody>
                <!-- Pendapatan -->
                <tr>
                    <td><b>Total Pendapatan</b></td>
                    <td th:text="${totalPendapatan < 0 ? '(' + #numbers.formatDecimal(-totalPendapatan, 1, 'COMMA', 2, 'POINT') + ')' : #numbers.formatDecimal(totalPendapatan, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                <!-- Beban -->
                <tr>
                    <td colspan="2"><b>Rincian Beban</b></td>
                </tr>
                <tr th:each="entry : ${rincianBeban}">
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value < 0 ? '(' + #numbers.formatDecimal(-entry.value, 1, 'COMMA', 2, 'POINT') + ')' : #numbers.formatDecimal(entry.value, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr> 
                <tr>
                    <td><b>Total Beban</b></td>
                    <td th:text="${totalBeban < 0 ? '(' + #numbers.formatDecimal(-totalBeban, 1, 'COMMA', 2, 'POINT') + ')' : #numbers.formatDecimal(totalBeban, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr>
                <!-- Laba Rugi Bersih -->
                <tr>
                    <td><b>Laba/Rugi Bersih</b></td>
                    <td th:text="${labaRugiBersih < 0 ? '(' + #numbers.formatDecimal(-labaRugiBersih, 1, 'COMMA', 2, 'POINT') + ')' : #numbers.formatDecimal(labaRugiBersih, 1, 'COMMA', 2, 'POINT')}"></td>
                </tr>
            </tbody>
        </table>
        </main>
    </body>
</html>

