<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Laporan Posisi Keuangan</title>
</head>
<body>
    <div class="sidebar">
        <img src="/image/logo.css" alt="">
        <div class="sidebar-header">
            <h1 th:text="${companyName}" class="company-name"></h1>        
        </div>
        <nav class="sidebar-nav">
            <a th:href="@{/}" class="nav-item"><i class="fas fa-home"></i>Dashboard</a>
            <a th:href="@{/transaksi}" class="nav-item"><i class="fas fa-home"></i>Transaksi</a>
            <a th:href="@{/jurnal-umum}" class="nav-item"><i class="fas fa-home"></i>Jurnal Umum</a>
            <a th:href="@{/buku-besar}" class="nav-item"><i class="fas fa-book"></i>Buku Besar</a>
            <a th:href="@{/laba-rugi}" class="nav-item"><i class="fas fa-chart-line"></i>Laba Rugi</a>
            <a th:href="@{/perubahan-ekuitas}" class="nav-item"><i class="fas fa-sync-alt"></i>Perubahan Ekuitas</a>
            <a th:href="@{/posisi-keuangan}" class="nav-item active"><i class="fas fa-balance-scale"></i>Neraca</a>
            <a th:href="@{/akun}" class="nav-item"><i class="fas fa-users"></i>Akun</a>
        </nav>
        <div class="profile">
            <img src="path/to/profile.jpg" alt="Foto Profil" class="profile-image" />
            <a href="/profile" class="profile-link">Akses Profil</a>
        </div>
    </div>
    <main class="main-content">
        <h1>Laporan Posisi Keuangan</h1>
        <table>
            <tr>
                <th>Aset</th>
                <th>Nominal</th>
            </tr>
            <tr th:each="entry : ${asetList}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            <tr>
                <td><strong>Total Aset</strong></td>
                <td th:text="${totalAset}"></td>
            </tr>
            <tr>
                <th>Liabilitas</th>
                <th>Nominal</th>
            </tr>
            <tr th:each="entry : ${liabilitasList}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            <tr>
                <td><strong>Total Liabilitas</strong></td>
                <td th:text="${totalLiabilitas}"></td>
            </tr>
            <tr>
                <th>Ekuitas</th>
                <th>Nominal</th>
            </tr>
            <tr th:each="entry : ${ekuitasList}">
                <td th:text="${entry.key}"></td>
                <td th:text="${entry.value}"></td>
            </tr>
            <tr>
                <td><strong>Total Ekuitas</strong></td>
                <td th:text="${totalEkuitas}"></td>
            </tr>
            <tr>
                <td><strong>Total Kewajiban</strong></td>
                <td th:text="${totalKewajiban}"></td>
            </tr>
        </table>
    </main>
</body>
</html>

