<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="form-container">
        <h2>Register</h2>
        <form th:action="@{/auth/save-register}" method="post">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="companyName">Company Name:</label>
                <input type="text" id="companyName" name="companyName" required>
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Sudah punya akun? <a th:href="@{/auth/login}">Login di sini</a></p>
    </div>
</body>
</html>